*{
    --primary-color: #8484e0;
    --primary-color-light: #9f9fe1;
    --primary-color-dark: #6b6be0;
    --pink-light: #eec9cf;
    --blue-primary: #3e64a3;
    --blue-secondary: #6d90d2;
    --light-teal: #b1e5ee;
    font-family: 'Montserrat', sans-serif;
}
#title{
    background-image: linear-gradient(to right bottom, #e7e7f9, #eee6f5, #f3e5f0, #f6e5ec, #f6e6e8);
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn{
    background-color: var(--primary-color-dark);
    color: white;
    font-weight: bolder;
    font-size: large;
}
#btn:hover{
    background-color:var(--primary-color) ;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.hero-one h1{
    color: var(--primary-color);
    padding: 10px 0;
    font-weight: bolder;
    font-size: 50px;;
    font-family: 'Lobster', cursive;
}
.hero-one{
    margin-top: 20px;
    padding: 10px 20% 0px 20%;
}

#hero-img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #3e64a3,
    #002bff,
    #7a00ff,
    #8484e0,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}




@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 1028px) {
    .hero-one{
        padding: 10px 10% 0px 10%;
    }
    #hero-img{
        width: 102%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 0 30px 0;
    }
    .hero-one h1{
        padding: 20px 0;
        font-weight: bold;
        font-size: 35px;;
    }
    .hero-one p{
        font-size: 15px;
    }
}