*{
    --primary-color: #8484e0;
    --primary-color-light: #9f9fe1;
    --primary-color-dark: #6b6be0;
    --pink-light: #eec9cf;
    --blue-primary: #3e64a3;
    --blue-secondary: #6d90d2;
    --light-teal: #b1e5ee;
    font-family: 'Montserrat', sans-serif;
}

body h1{
  color: var(--primary-color);
  padding: 10px 0;
  font-weight: bolder;
  font-size: 50px;
  font-family: 'Lobster', cursive;
}

body h2{
  color: var(--primary-color);
  padding: 10px 0;
  font-weight: bolder;
  font-size: 35px;
  font-family: 'Lobster', cursive;
}

#title{
    /* background-image: linear-gradient(to right bottom, #d9e5f9, #d1dffb, #cad8fc, #c5d1fd, #c1c9fd, #ccc7fa, #d6c5f6, #dfc4f2, #eecceb, #f6d5e7, #f8e0e7, #f6eced); */
    background-image: linear-gradient(to right bottom, #e1eaf9, #dae5fa, #d5e0fb, #d0dafc, #cdd4fc, #d5d2fa, #ddd1f7, #e4cff3, #efd4ed, #f6dbea, #f7e3e9, #f6eced);
}
.nav-link{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#btn{
    background-color: var(--primary-color-dark);
    color: white;
    font-weight: bolder;
    font-size: large;
}
#btn:hover{
    background-color:var(--primary-color) ;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.hero-one{
    margin-top: 20px;
    padding: 10px 20% 0px 20%;
}

#hero-img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
}

.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #3e64a3,
    #002bff,
    #7a00ff,
    #8484e0,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}
.about-des h2{
  padding-top: 30px;
  text-align: center;
}

.about-des p{
padding: 10px 20%;
}

.heading{
  font-size: 30px;
  font-weight:bolder;
  padding: 20px 20%;
  text-align: center;
}



@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 1028px) {
    .hero-one{
        padding: 10px 10% 0px 10%;
    }
    #hero-img{
        width: 102%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 0 40px 0;
    }
    .hero-one h1{
        padding: 20px 0;
        font-weight: bold;
        font-size: 35px;;
    }
    .hero-one p{
        font-size: 15px;
    }
    .about{
      flex-direction: column;
      padding: 20px;
    }


}