
  @import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


*{
    --primary-color: #8484e0;
    --primary-color-light: #bfbffa;
    --primary-color-dark: #6b6be0;
    --pink-light: #eec9cf;
    --blue-primary: #3e64a3;
    --blue-secondary: #6d90d2;
    --light-teal: #b1e5ee;
    --black: #000;
    font-family: 'Montserrat', sans-serif;
    background-color: #000;
}

html{
  scroll-behavior: smooth;
}

/* background: rgb(70,70,191);
background: radial-gradient(circle, rgba(70,70,191,1) 0%, rgba(0,0,0,1) 100%); */


body h1{
  color: var(--primary-color-dark);
  padding: 10px 0 0 0;
  font-family: 'Press Start 2P', cursive;
}



body h2{
  color: var(--primary-color-dark);
  font-weight: bolder;
  font-size: 45px;
  font-family: 'Press Start 2P', cursive;
  padding-top: 3rem;
}

svg{
  padding: 5px 5px 0 5px;
}

#title{
    color: white;
}

nav .navbar-brand {
  color: var(--primary-color);
}
nav .navbar-brand:hover{
  color: var(--primary-color);
}
.navbar-nav .nav-link{
    color: white;
}

.navbar-nav .nav-link:hover{
  color: var(--primary-color);
}

#btn{
    background-color: var(--primary-color-dark);
    color: white;
    font-weight: bolder;
    font-size: large;
}
#btn:hover{
    background-color:var(--primary-color) ;
}
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.hero-one{
    margin-top: 20px;
    padding: 10px 20% 0px 20%;
}

#hero-img{
    width: 70%;
    height: 70%;
    margin: 0 auto;
    display: flex;
    padding: 0;
}

.button-85 {
  margin-bottom: 15px;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #3e64a3,
    #002bff,
    #7a00ff,
    #8484e0,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.fade-in-down {
  animation: fade-in-down 2s ease infinite;
}
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-des h2{
  padding-top: 40px;
  text-align: center;
}

.about-des p{
padding: 10px 20%;
}

.heading{
  font-size: 32px;
  font-weight:600;
  padding: 20px 20%;
  text-align: center;
  color: whitesmoke;
}

.description{
  color: rgb(168, 168, 168);
}

div.card{
  border: none;
  background-color: black;
}

.container h3{
  color: white;
}
.container p{
  color: grey;
}

.badge{
  border: 3px solid #6b6be0;
  padding-top: 15px;
}
span.badge.rounded-pill {
  padding: 10px;
  margin-top: 10px;
}

#project-link{
  background-color: var(--primary-color-dark);
  color: white;
}

.btn-logo{
  background-color: var(--primary-color-dark);
  fill: white;
}

hr.style-seven {
  overflow: visible; /* For IE */
  height: 30px;
  border-style: solid;
  border-color: white;
  border-width: 2px 0 0 0;
  border-radius: 50px;
}
hr.style-seven:before { 
  display: block;
  content: "";
  height: 30px;
  margin-top: -31px;
  border-style: solid;
  border-color: white;
  border-width: 0 0 2px 0;
  border-radius: 50px;
}


@media (max-width: 770px) {

  
  .project-img{
    display: none;
  }
  #project-section{
    text-align: center;
  }
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

@media (max-width: 1028px) {
    .hero-one{
        padding: 10px 10% 0px 10%;
    }
    #hero-img{
        width: 102%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        padding: 0 0 40px 0;
    }
    .hero-one h1{
        padding: 20px 0;
        font-weight: bold;
        font-size: 35px;;
    }
    .hero-one p{
        font-size: 15px;
    }
    .about{
      flex-direction: column;
      padding: 20px;
    }


}

.line-1{
  position: relative;
  top: 50%;  
  width: 34em;
  margin: 0 auto;
  border-right: 2px solid var(--primary-color-dark);
  font-size: 180%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);    
}

/* Animation */
.anim-typewriter{
animation: typewriter 4s steps(500) 1s 2 normal both,
           blinkTextCursor 400ms steps(500) infinite normal;
}
@keyframes typewriter{
from{width: 0;}
to{width: 11em;}
}
@keyframes blinkTextCursor{
from{border-right-color: var(--primary-color-dark);}
to{border-right-color: transparent;}
}